.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justyfi-content: center;
  align-items: center;
  margin-top: 30px;
}

.login-inputs .login-email,
.login-inputs .login-password {
  position: relative;
  margin-bottom: 20px;
}

.login-inputs input {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #919191;
  font-size: 16px;
  position: relative;
  z-index: 1;
  background: transparent;
}

.login-inputs input:focus {
  outline: none;
  transition: all .3s;
}

.login-inputs .login-input-placeholder {
  position: absolute;
  bottom: 12px;
  left: 5px;
  color: #919191;
  transition: color .3s, bottom .3s, font-size .3s;
}

.login-inputs .login-input-placeholder.active {
  color: #3367d6;
  font-size: 12px;
  bottom: 36px;
}

.login-inputs .login-input-line {
  display: inline-block;
  width: 0;
  height: 2px;
  background: #919191;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transition: width .3s, left .3s, background .3s, opacity .3s;
}

.login-inputs .login-input-line.active {
  width: 100%;
  left: 0;
  background: #3367d6;
  opacity: 1;
}

